body {
	background: url('../img/fondo.png');
	background-attachment:  fixed;
	background-repeat: repeat;
}
.menu {
	margin: 0px;
	padding: 0px;
}
.menu ul {
	margin: 0px;
	padding: 0px;
}
.menu li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.menu a {
	display: block;
	margin-bottom: 5px;
	color:  #000;
	font-weight: bold;
	border-radius: 5px !important;
	padding: 10px 10px !important;
	text-decoration: none;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 2px #000;
	cursor: default;
}
.menu a:hover {
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #696969;
}
.menu a:active {
	box-shadow: inset 0 0 5px #000;
}
.logo {
	width: 100%; /*AQUI ESTAN LOS TAMAÑOS DE EL LOGO*/
	display: block;
	height: 100%px;
	margin: 30px 0 30px 0;
	border-radius: 30px;
	box-shadow: 0 0 10px #000;
}
.logo .nombre {
	position: absolute;
	bottom: 30px;
	right: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	font-style: italic;
	box-shadow: 0 0 10px #fff;
}
.logo .lema {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	font-style: italic;
	right: 20px;
}

.space-10 {
	height: 10px;
	width: 100%;
}
.space-20 {
	height: 20px;
	width: 100%;
}
.space-30 {
	height: 30px;
	width: 100%;
}
.space-40 {
	height: 40px;
	width: 100%;
}
.contenido {
	background: #FFFFFF;
	min-height: 300px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 0px 5px 10px -3px #000;
	min-height: 487px;
	margin-bottom:30px;

	
}

#sistema {
	height : 360px;
}

#mensaje {
	font-size: 20px;
	margin-bottom: 50px;
	
}

label.error {
	font-size: 11px !important;
	font-style: italic !important;
	font-weight: normal !important;
	color: #FF0000 !important;
}
.opcionesmenu .fa {
	margin-right: 5px;
}

.chosen-container a {
	height: 28px !important;
}
.width-80 {
	width:80%;
}
.width-70 {
	width:70%;
}
.width-60 {
	width:60%;
}
.width-50 {
	width:50%;
}
.margin-auto {
	margin: 0 auto;
}
.chosen-container .chosen-choices .search-field input {
	height: 30px !important;
}
.breadcrumb {
	border-bottom: 1px solid #9C9C9C;
	border-radius: 0 0 0 0;
	margin: 0 -20px 20px -10px;
}